{% include 'myapp/main.html' %}
{% block content %}

{% for entry in entries reversed %}
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-7">
        <div class="box-element" style="box-shadow: whitesmoke; border-radius: 4px;  padding:15px 10px 15px 20px; background-color:rgb(215, 219, 219);">
            <h4>{{entry.title}}</h4><hr>
        
            <p><strong>{{entry.date_added}}</strong></p>
            <p>{{entry.task}}</p>

        </div>
        
    </div><br>
    <div class="col-lg-2"></div>
</div><br>
{% endfor %}












<!-- {% for entry in entries %}
<h4>{{entry.title}}</h4>
<p><strong>{{entry.date_added}}</strong></p>
<p>{{entry.task}}</p>
{% endfor %} -->
































{% endblock %}